# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# macOS
.DS_Store

# Node
node_modules/

# Vite
dist/

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
Thumbs.db
